@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
    font-family: 'Varela Round',-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    line-height: 1.15;
    padding: 4rem;
    box-sizing: border-box;
    display: block;
}

a {
border-bottom: 1px solid #000;
text-decoration: none;
color: #000;
}
hr {
    max-width: 4rem;
    margin-left: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-width: .125rem;
    border-color: rgba(0, 0, 0, 0.1);
    margin-top: 3rem;
}

dt {
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 1.5em;
}

dd {
    margin-left: 0;
}

h1 {
    font-size: 3rem;
    max-width: 38rem;
}

h2 {
    margin-top: 2em;
}

footer, footer p {
    color: #666;
    font-size: .9em;
    padding: 1em 1em 4em;
    text-align: right;
    padding: 0;
    max-width: 38rem;
}

footer {
	margin-top: 4em;
}
header {
    clear: both;
    color: #777;
    text-align: right;
    max-width: 38rem;
    border-style: solid;
    border-width: 3px;
    border-color: #777;
    padding: 1rem;
/*    background-color: #CCCCCC;
*/}

header a {
     border: none;
}
header a:hover {
     background-color:#CCCCCC;
}

header {
    margin-bottom: 3rem;
}

aside {
    letter-spacing: -0.05em;
    text-transform: uppercase;
    font-size: .875rem;
    color: #777;
    margin-top: 0.5em;
}

code {
    -moz-hyphens: none;
    -webkit-hyphens: none;
    -o-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    white-space: pre-wrap;

    /* css-3 */
    white-space: -moz-pre-wrap;

    /* Mozilla, since 1999 */
    white-space: -pre-wrap;

    /* Opera 4-6 */
    white-space: -o-pre-wrap;

    /* Opera 7 */
    word-wrap: break-word;

    /* Internet Explorer 5.5+ */
}

pre {
    background: #f5f7f9;
    margin-bottom: 20px;
    vertical-align: text-bottom;
    white-space: pre-wrap;

    /* css-3 */
    white-space: -moz-pre-wrap;

    /* Mozilla, since 1999 */
    white-space: -pre-wrap;

    /* Opera 4-6 */
    white-space: -o-pre-wrap;

    /* Opera 7 */
    word-wrap: break-word;

    /* Internet Explorer 5.5+ */
    padding: 1em;
    max-width: 44em;
}


a:hover {
    color: #777;
}

a:focus {
    color: #777;
}

img {
    width: 100%;
    display: block;
    vertical-align: top;
    border-radius: 51px;
    text-align: center;
}

figcaption {
    color: #777;
    font-style: italic;
    text-align: center;
}

figure {
    margin: 0 -1em;
    width: 110%;
    margin-top: 3.0em;
    display: block;
    border: 0px solid #303030;
}

table {
    max-width: 30em;
}

ol, ul, li, p, dd {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    line-height: 1.77;
    font-size: 1.25rem;
    max-width: 38rem;
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    h1 {
        font-size: 2.25rem;
    }

    ol, ul, li, p, dd {
        font-size: 1.2rem;
        max-width: 34rem;
    }
}

@media screen and (min-width: 30em) and (max-width: 40em) {
    body {
        padding: 2rem;
    }

    h1 {
        font-size: 2.25rem;
    }

    ol, ul, li, p, dd {
        font-size: 1.1rem;
    }
}

@media all and (max-width: 30em) {
    body {
        padding: 0.875rem;
    }

    h1 {
        font-size: 1.5rem;
    }
}
