<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">
  <title>Kiki</title>
  <!-- Bootstrap core CSS -->
  <link href="/static/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/static/blog.css" rel="stylesheet">
  <script defer src="/static/all.js"></script>
  <link href="/static/toastr.css" rel="stylesheet" />
  <link rel="stylesheet" href="/static/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
  <link href="/static/bootstrap.medium.css" rel="stylesheet" />


  <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/static/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="manifest" href="/static/manifest.json">
  <meta name="msapplication-TileColor" content="#e2b1c7">
  <meta name="msapplication-TileImage" content="/static/ms-icon-144x144.png">
  <meta name="theme-color" content="#e2b1c7">


  <script src="https://unpkg.com/sweetalert2@7.4.1/dist/sweetalert2.all.js"></script>

    <style>
        main {
            padding-top: 90px;
        }

        #posts {
            font-size: 16px;
            padding-left: 24px;
        }

        .post-datetime {
            font-size: 14px;
        }

        img.profile-pic {
            max-width: 25px;
            max-height: 25px;
        }

        #posts .card-body {
            padding: 0.75rem;
        }

        #posts .card {
            margin-bottom: 0.75rem;
        }

        .recipient {
            margin-left: 2px;
            margin-right: 2px;
        }

        .post-comments {
            padding-left: 16px;
        }

        .post-action {
            margin-right: 4px;
            cursor: pointer;
            color: #007bff;
        }

        .post-container {
            width: 100%;
        }

        #posts a, .user-actions a {
            text-decoration: none;
        }

        .users-list {
            max-height: 300px;
            overflow-y: auto;
        }

        .user-profile-image {
            max-width: 200px;
            max-height: 200px;
        }

        .sidebar {
            position: fixed;
            overflow-y: auto;
            z-index: 100;
            top: 90px;
            bottom: 84px;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .25rem;
        }

        .sidebar-wrapper {
            position: relative;
        }

        .logo {
            color: white;
        }

        .user-lists .sidebar-module {
            padding: 5px 10px;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .25rem;
            margin: 5px;
        }

        .user-lists label {
            margin-bottom: 0px;
        }


        .toggle-list {
            font-weight: bold;
            cursor: pointer;
            transition: all .2s ease-in;
        }
        .toggle-list:hover {
            color: #428bca;
            transition: all .2s ease-in;
        }


    </style>

</head>

<body>

    <!-- <header></header> -->
    <nav class="blog-masthead navbar fixed-top">
        <img class="kiki-pic img-fluid" src="/static/kiki.png">
        <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" id="searchText">
            <!-- <button class="btn btn-secondary my-2 my-sm-0" id="searchSubmit">Search</button> -->
        </form>
    </nav>

  <main role="main" class="container-fluid">
    <input type=hidden id="letterPurpose" value="" />
    <input type=hidden id="letterReplyTo" value="" />
    <input type=hidden id="letterReplaces" value="" />
    <!-- begin medium modal -->
    <!-- Modal -->
    <div class="modal fade" id="writingModal" role="dialog" aria-labelledby="writingModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content"  id="writingModalBody">
          <div class="modal-header">
            <h5 class="modal-title" id="writingModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
          </div>
          <div class="modal-body">
            <div class="editable">
              <p>My father’s family name being
                <a href="https://en.wikipedia.org/wiki/Pip_(Great_Expectations)">Pirrip</a>, and my Christian name Philip, my infant tongue could make of both names nothing longer or more explicit than Pip. So, I called myself Pip, and came to be called
                Pip.
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-info">
                    <input type="radio" class="read-permission" name="options" value="self" autocomplete="off">Self
                </label>
                <label class="btn btn-info">
                    <input type="radio" class="read-permission" name="options" value="friends" autocomplete="off"> Friends
                </label>
                <label class="btn btn-info active">
                    <input type="radio" class="read-permission" name="options" value="public" autocomplete="off" checked> Public
                </label>
            </div>
            <button type="button" class="btn btn-primary" id="submit-writing">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <!-- end medium modal -->
    <!-- Modal -->
    <div class="modal fade" id="nameModal" role="dialog" aria-labelledby="nameModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="nameModalLabel"><img id="modalNameImage" src="" class="align-middle profile-pic">&nbsp;
                                <span id="modalNameName">Mark</span> <br><small class="text-muted" style="font-size: 70%;" id="modalNamePublicKey">aasdlkfjas9jf93jfa</small></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
          </div>
          <div class="modal-body">
            <span id="modalNameContent"></span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info">Filter</button>
            <button type="button" class="btn btn-primary" id="followButton">Follow</button>
            <button type="button" class="btn btn-danger">Block</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9 blog-main">

         <div id="posts"></div>

        <!-- /.blog-post -->
        <nav class="blog-pagination">
          <a class="btn btn-outline-primary" href="#">Older</a>
          <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
        </nav>
      </div>
      <!-- /.blog-main -->


<!-- <nav>  -->
      <aside class="col-sm-3 ml-sm-auto blog-sidebar sidebar-wrapper">
<div class="sidebar">
    <!-- User profile -->
        <div class="sidebar-module sidebar-module-inset">
            <div>
                <img id="user-profile-image" class="user-profile-image">
            </div>
            <div>
                <h5 id="user-name"></h5>
            </div>
            <div id="user-profile"></div>
            <div>
                <button class="btn btn-sm user-action change-name" title="Change username">
                    <i class="fas fa-comment-alt"></i>
                </button>
                <button class="edit-profile btn btn-sm user-action">
                    <i class="fas fa-user-circle"></i>
                </button>
                <button class="editmodal btn btn-sm user-action" title="Change profile image" data-title="Update image" data-purpose="action-assign/image" data-makecontent="Drag and drop an image...">
                    <i class="fas fa-upload"></i>
                </button>
            </div>
        </div>

    <!--.end User profile -->

    <!-- User actions -->
        <div class="sidebar-module user-info user-actions">
            <div><label>Actions</label></div>
            <ol class="list-unstyled">
                <li>
                    <a href="#!" class="editmodal" data-title="Write a post" data-purpose="share-text">
                        <i class="fas fa-pencil-alt"></i> Share
                    </a>
                </li>

                <li>
                    <a href="#!" class="addserver">
                        <i class="fas fa-server"></i> Add server
                    </a>
                </li>
                <li>
                    <a href="#!" class="syncup">
                        <i class="fas fa-sync-alt"></i> Sync
                    </a>
                </li>
                <!-- <li>
                    <a href="#!" class="eraseprofile">
                        <i class="fas fa-trash-alt"></i> Erase profile
                    </a>
                </li> -->
            </ol>
        </div>
    <!--.end User actions -->

        <div class="user-lists">
            <div class="sidebar-module following">
                <div class="toggle-list">
                    <i class="fa fa-caret-right"></i>
                    <!-- <i class="fa fa-caret-down" style="display:none"></i> -->
                    Following (<span>0</span>)
                </div>
                <div class="list-unstyled users-list" style="display:none;"></div>
            </div>
            <div class="sidebar-module followers">
                <div class="toggle-list">
                    <i class="fa fa-caret-right"></i>
                     Followers (<span>0</span>)
                 </div>
                <div class="list-unstyled users-list" style="display:none;"></div>
            </div>
            <div class="sidebar-module friends">
                <div class="toggle-list">
                    <i class="fa fa-caret-right"></i>
                     Friends (<span>0</span>)
                 </div>
                <div class="list-unstyled users-list" style="display:none;"></div>
            </div>
            <div class="sidebar-module connections">
                <div class="toggle-list">
                    <i class="fa fa-caret-right"></i>
                     Connections (<span>0</span>)
                 </div>
                <div class="list-unstyled users-list" style="display:none;"></div>
            </div>
            <div class="sidebar-module blocked">
                <div class="toggle-list">
                    <i class="fa fa-caret-right"></i>
                     Blocked (<span>0</span>)
                 </div>
                <div class="list-unstyled users-list" style="display:none;"></div>
            </div>
        </div>

</div>
      </aside>
      <!-- /.blog-sidebar -->
    </div>
    <!-- /.row -->
  </main>
  <!-- /.container -->
  <!-- <footer class="blog-footer">
    <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    <p>
      <a href="#">Back to top</a>
    </p>
  </footer> -->
  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/static/jquery-3.2.1.min.js"></script>
  <script src="/static/popper.min.js"></script>
  <script src="/static/bootstrap.min.js"></script>
  <script src="/static/medium-editor.min.js"></script>
  <script src="/static/toastr.min.js"></script>

  <script src="/static/Api.js"></script>
  <script src="/static/Posts.js"></script>
  <script src="/static/Users.js"></script>
  <script>

var KiKiClient = function(api, user, callback){
    this.api = api;
    this.user = user;
    this.posts = [];
    this.primary = {};
    this.$el = $("#posts");
    this.init(callback);
}

KiKiClient.prototype.collectUsersFromPost = function(post) {

    var _onUpdateCallback = function(err, user) {
        if (user) {
            if (user && "" != user.getImage()) {
                $('img.profile-pic[owner_id="'+user.getPublicKey()+'"]').attr('src', '/img/'+user.getImage());
            }
            $('span.recipient[owner_id="'+user.getPublicKey()+'"]').text(
                user.getDisplayName()
            );
        }
    }

    var _clbk = function(err, user){
        if (user && 0 == user.callbacks.length) {
            user.registerUpdateCallback(_onUpdateCallback);
        }
        _onUpdateCallback(err, user);
    }

    app.Users.fetchUser(post.getOwnerId(), _clbk);
    var recipients = post.getRecipients();
    if (post.getRecipients()) {
        for (var i=0; i<recipients.length; i++) {
            app.Users.fetchUser(recipients[i], _clbk);
        }
    }
}

KiKiClient.prototype.buildPostUi = function(post) {
    var self = this;
    return $("<div>").addClass("card").append(
        $("<div>").addClass("card-body").append(
            post.$el
        )
    );
}

KiKiClient.prototype.buildPostsUi = function(callback) {
    this.$el.html('');
    for (var i=0; i<this.posts.length; i++) {
        var post = this.posts[i];
        this.$el.append(
            this.buildPostUi(post)
        );
        this.collectUsersFromPost(post);
    }
}

KiKiClient.prototype.init = function(callback){
    var self = this;
    $('.user-info .editmodal').on('click', app.openModal);
    $("#followButton").click(function() {
        self.api.followUser($(this).data("publickey"));
    });
    app.Posts.fetchPosts(function(err, posts){
        if (err) {
            throw err;
        }
        self.posts = posts;
        self.buildPostsUi();
    });
    callback && callback();
}


KiKiClient.prototype.update = function() {
    var self = this;
    app.Posts.fetchPosts(function(err, posts){
        if (err) {
            throw err;
        }
        self.posts = posts;
        self.buildPostsUi();
    });
}



var UserClient = function(api, callback) {
    this.data = {};
    this.api = api;
    this.addListeners();
    this.init(callback);
}

UserClient.prototype.init = function(callback) {
    var self = this;
    this.api.fetchUser(null, function(err,res){
        if (err) throw err;
        self.data = res.data.user;
        self.user = new User(res.data.user, self.api);
        self.user.registerUpdateCallback(function(){
            self.init();
        });
        self.buildUserUi();
        callback && callback(self);
    });
}

UserClient.prototype.getPublicKey = function() {
    return this.user.getPublicKey();
}

UserClient.prototype.addListeners = function() {
    var self = this;
    $('.user-action.change-name').on('click', function(){
        swal({
            title: 'Username',
            text: 'Would you like to change your username?',
            type: 'warning',
            input: 'text',
            showCancelButton: true,
            confirmButtonText: 'Yes',
            cancelButtonText: 'No'
        }).then(function(result) {
            if (result.value) {
                self.api.changeName(result.value, function(err, res) {
                    if (err) {
                        swal('Error!', 'An error occurred: ' + err.message, 'error');
                        return;
                    };
                    swal('Success!', 'Your username has been changed.', 'success');
                    self.user.update();
                });
            }
        });
    });

    $('.user-action.edit-profile').on('click', function() {
        app.openModal('Edit profile', {
            purpose: "action-assign/profile",
            content: self.data.profile
        });
    });

    $(".toggle-list").on("click", function(){
        var self = this;
        $(this).siblings().slideToggle(250, function(){
             if ($(this).is(":visible")) {
                 var icon = $(self).find("svg");
                 $({deg: 0}).animate({deg: 90}, {duration: 200, step:function(now){icon.css({transform: 'rotate('+now+'deg)'})}})
             } else {
                 var icon = $(self).find("svg");
                 $({deg: 90}).animate({deg: 0}, {duration: 200, step:function(now){icon.css({transform: 'rotate('+now+'deg)'})}})
             }
        });
    });

    $(".syncup").on("click", function(){
        // event.preventDefault();
        var posting = $.post( "/sync",JSON.stringify({ "address": "" })  );
        posting.done(function( data ) {
            toastr.success(data.message, "Updating Kiki");
        });
    });


    $(".addserver").on("click", function(){
        //   event.preventDefault();
        swal({
            title: 'Server connection',
            text: 'Enter a server to connect to:',
            type: 'warning',
            input: 'url',
            inputPlaceholder: 'https://kiki.network',
            showCancelButton: true,
            confirmButtonText: 'Yes',
            cancelButtonText: 'No'
        }).then(function(result) {
            if (result.value) {
                var posting = $.post( "/sync", JSON.stringify({ "address": result.value }) );
                posting.done(function( data ) {
                    toastr.success(data.message, "Updating Kiki");
                });
            }
        });
    });

}

UserClient.prototype.buildUserListItem = function(user) {
    return $('<li>').append(
            $('<a>', {
                'href': "#!",
                'data-name': user.getDisplayName(),
                'data-publickey': user.getPublicKey(),
                'data-content': user.getProfile()
            }).addClass('activatenamemodal publickey').append(
                $('<div>').addClass('publickey').append(
                    $("<img>",{
                        src: (function(){
                            if (user.getImage() && "" != user.getImage()) {
                                return "/img/" + user.getImage();
                            }
                            return null;
                        })()
                    }).addClass('align-middle profile-pic'),
                    $('<small>').append(user.getDisplayName())
                )
            )
    );
}

UserClient.prototype.clearUserUi = function() {
    $("#user-profile").html("");
    $(".following .users-list").html("");
    $(".followers .users-list").html("");
    $(".friends .users-list").html("");
    $(".blocked .users-list").html("");
}

UserClient.prototype.buildUserUi = function(){
    var self = this;
    if (this.data) {

        this.clearUserUi();

        $("#user-name").text( this.data.name || this.data.public_key );
        $("#user-profile").append( this.data.profile );
        if (this.data.image && "" != this.data.image) {
            $("#user-profile-image").attr("src", "/img/"+ this.data.image);
        }

        $(".following span").text(this.data.following.length);
        $(".followers span").text(this.data.followers.length);
        $(".friends span").text(this.data.friends.length);
        $(".blocked span").text(this.data.blocked.length);

        for (var i=0; i<this.data.following.length; i++) {
            var user_id = this.data.following[i];
            app.Users.fetchUser(user_id, function(err, user){
                if (err) throw err;
                $(".following .users-list").append(
                    self.buildUserListItem(user)
                )
            });
        }
        for (var i=0; i<this.data.followers.length; i++) {
            var user_id = this.data.followers[i];
            app.Users.fetchUser(user_id, function(err, user){
                if (err) throw err;
                $(".followers .users-list").append(
                    self.buildUserListItem(user)
                )
            });
        }

        for (var i=0; i<this.data.friends.length; i++) {
            var user_id = this.data.friends[i];
            app.Users.fetchUser(user_id, function(err, user){
                if (err) throw err;
                $(".friends .users-list").append(
                    self.buildUserListItem(user)
                )
            });
        }

        for (var i=0; i<this.data.blocked.length; i++) {
            var user_id = this.data.blocked[i];
            app.Users.fetchUser(user_id, function(err, user){
                if (err) throw err;
                $(".blocked .users-list").append(
                    self.buildUserListItem(user)
                )
            });
        }

    }
}


var app = {}
app.openModal = function(title, data) {
    $("#writingModal").modal();
    if ('string' == typeof(title)) {
        $("#writingModalLabel").text(title);
        $(".editable").html(
            data.content || "Write your post..."
        );
        $("#letterReplyTo").val(data.reply_to || "");
        $("#letterReplaces").val(data.first_id || "");
        $("#letterPurpose").val(data.purpose);
    } else {
        console.log("TODO - modal class")
        $("#writingModalLabel").text($(this).data('title'));
        $(".editable").focus(function() {
            $(this).select();
        });
        if ($(this).data("usecontent")) {
            $(".editable").html($("#" + $(this).data("usecontent")).html())
        } else {
            $(".editable").text("Write your post...");
        }
        if ($(this).data("makecontent")) {
            $(".editable").html($(this).data("makecontent"));
        }
        if ($(this).data("replyto")) {
            $("#letterReplyTo").val($(this).data("replyto"));
        } else {
            $("#letterReplyTo").val("");
        }
        if ($(this).data("replaces")) {
            $("#letterReplaces").val($(this).data("replaces"));
        } else {
            $("#letterReplaces").val("");
        }
        $("#letterPurpose").val($(this).data("purpose"));
    }
}
app.Api = new KiKiApi();
app.Users = new UsersCollection(app.Api);
app.Posts = new PostsCollection(app.Api);
app.User = new UserClient(app.Api, function(user){
    app.Ui = new KiKiClient(app.Api, user);
});

var updateInterval = setInterval(function(){
    console.log("update page");
},10000);





    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-bottom-center",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }
    var editor = new MediumEditor('.editable', {
      toolbar: {
        relativeContainer: document.querySelector("#writingModalBody"),
        allowMultiParagraphSelection: true,
        buttons: ['bold', 'italic', 'underline', 'anchor', 'h2', 'h3', 'quote'],
        diffLeft: 0,
        diffTop: -10,
        firstButtonClass: 'medium-editor-button-first',
        lastButtonClass: 'medium-editor-button-last',
        standardizeSelectionStart: false,
        static: true,
        autoLink: true,
        /* options which only apply when static is true */
        align: 'center',
        sticky: false,
        updateOnEmptySelection: false
      }
    });
    $(document).ready(function() {
    //   $("img").addClass("img-fluid");
        $("#submit-writing").click(function(event) {
            // Stop form from submitting normally
            // event.preventDefault();
            letter = {
                "purpose": $("#letterPurpose").val(),
                "first_id": $("#letterReplaces").val(),
                "reply_to": $("#letterReplyTo").val(),
                "to": [
                    $('input.read-permission[name="options"]:checked').val()
                ],
                "content": editor.getContent()
            }
            console.log(letter);
            app.Api.submitLetter(letter, function() {
                // HACK
                //  - update letter
                if ("" != letter.reply_to) {
                    app.Posts.data[letter.reply_to].update();
                } else if ("action-assign/profile" == letter.purpose) {
                    app.User.user.update();
                } else if ("" != letter.first_id) {
                    var post = app.Posts.data[letter.first_id];
                    post.update();
                } else {
                    app.Ui.update();
                }
            });
            $("#writingModal").modal('toggle');
        });


      // SCROLL TO TOP
        $('body').append(
            $('<div>', {id: 'toTop'})
                .css({
                    'position': 'fixed',
                    'bottom': '20px',
                    'right': '40px',
                    'cursor': 'pointer',
                    'display': 'none',
                    'z-index': 1000
                })
                .addClass('btn btn-info')
                .append(
                    $('<i>').addClass('fa fa-chevron-up')
                ).on('click', function(){
                    $("html, body").animate({ scrollTop: 0 }, 600);
                })
        );
        $(window).scroll(function () {
            if ($(this).scrollTop() != 0) {
                $('#toTop').fadeIn();
            } else {
                $('#toTop').fadeOut();
            }
        });



    });
  </script>
</body>

</html>
