<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">
  <title>Kiki</title>
  <!-- Bootstrap core CSS -->
  <link href="/static/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/static/blog.css" rel="stylesheet">
  <script defer src="/static/all.js"></script>
  <link href="/static/toastr.css" rel="stylesheet" />
  <link rel="stylesheet" href="/static/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
  <link href="/static/bootstrap.medium.css" rel="stylesheet" />


  <script src="https://unpkg.com/sweetalert2@7.4.1/dist/sweetalert2.all.js"></script>

    <style>
        main {
            padding-top: 90px;
        }

        #posts {
            font-size: 16px;
            padding-left: 24px;
        }

        .post-datetime {
            font-size: 14px;
        }

        img.profile-pic {
            max-width: 25px;
            max-height: 25px;
        }

        #posts .card-body {
            padding: 0.75rem;
        }

        #posts .card {
            margin-bottom: 0.75rem;
        }

        .recipient {
            margin-left: 2px;
            margin-right: 2px;
        }

        .post-comments {
            padding-left: 16px;
        }

        .post-container {
            width: 100%;
        }

        #posts a, .user-actions a {
            text-decoration: none;
        }

        .users-list {
            max-height: 300px;
            overflow-y: auto;
        }

        .user-profile-image {
            max-width: 200px;
            max-height: 200px;
        }

        .sidebar {
            position: fixed;
            /*right: 0;*/
            overflow-y: auto;
            z-index: 100;
            /*top: 0;*/
            top: 90px;
            /*bottom: 0;*/
            bottom: 84px;
            /*padding-top: 90px;*/
            /*min-width: 300px;*/
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .25rem;
        }

        .sidebar-wrapper {
            position: relative;
        }

        .logo {
            color: white;
        }

        /*button.user-action {
            max-width: 38px;
        }*/

    </style>

</head>

<body>

    <!-- <header></header> -->
    <nav class="blog-masthead navbar fixed-top">
        <a class="navbar-brand logo" href="#">Kiki</a>
    </nav>

  <main role="main" class="container-fluid">
    <input type=hidden id="letterPurpose" value="" />
    <input type=hidden id="letterReplyTo" value="" />
    <input type=hidden id="letterReplaces" value="" />
    <!-- begin medium modal -->
    <!-- Modal -->
    <div class="modal fade" id="writingModal" role="dialog" aria-labelledby="writingModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content"  id="writingModalBody">
          <div class="modal-header">
            <h5 class="modal-title" id="writingModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
          </div>
          <div class="modal-body">
            <div class="editable">
              <p>My father’s family name being
                <a href="https://en.wikipedia.org/wiki/Pip_(Great_Expectations)">Pirrip</a>, and my Christian name Philip, my infant tongue could make of both names nothing longer or more explicit than Pip. So, I called myself Pip, and came to be called
                Pip.
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-info">
                                        <input type="radio" name="options" id="writingToSelf" autocomplete="off">Self
                                    </label>
              <label class="btn btn-info">
                                        <input type="radio" name="options" id="writingToFriends" autocomplete="off"> Friends
                                    </label>
              <label class="btn btn-info active">
                                        <input type="radio" name="options" id="writingToPublic" autocomplete="off" checked> Public
                                    </label>
            </div>
            <button type="button" class="btn btn-primary" id="submit-writing">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <!-- end medium modal -->
    <!-- Modal -->
    <div class="modal fade" id="nameModal" role="dialog" aria-labelledby="nameModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="nameModalLabel"><img id="modalNameImage" src="" class="align-middle profile-pic">&nbsp;
                                <span id="modalNameName">Mark</span> <br><small class="text-muted" style="font-size: 70%;" id="modalNamePublicKey">aasdlkfjas9jf93jfa</small></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
          </div>
          <div class="modal-body">
            <span id="modalNameContent"></span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info">Filter</button>
            <button type="button" class="btn btn-primary" id="followButton">Follow</button>
            <button type="button" class="btn btn-danger">Block</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9 blog-main">

         <div id="posts"></div>

        <!-- /.blog-post -->
        <nav class="blog-pagination">
          <a class="btn btn-outline-primary" href="#">Older</a>
          <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
        </nav>
      </div>
      <!-- /.blog-main -->


<!-- <nav>  -->
      <aside class="col-sm-3 ml-sm-auto blog-sidebar sidebar-wrapper">
<div class="sidebar">
    <!-- User profile -->
        <div class="sidebar-module sidebar-module-inset">
            <div>
                <img id="user-profile-image" class="user-profile-image">
            </div>
            <div>
                <h5 id="user-name"></h5>
            </div>
            <div id="user-profile"></div>
            <div>
                <button class="btn btn-sm user-action change-name" title="Change username">
                    <i class="fas fa-comment-alt"></i>
                </button>
                <button class="edit-profile btn btn-sm user-action" title="Edit profile" data-title="Edit profile" data-purpose="action-assign/profile" data-usecontent="current-profile">
                    <i class="fas fa-user-circle"></i>
                </button>
                <button class="editmodal btn btn-sm user-action" title="Change profile image" data-title="Update image" data-purpose="action-assign/image" data-makecontent="Drag and drop an image...">
                    <i class="fas fa-upload"></i>
                </button>
            </div>
        </div>

    <!--.end User profile -->

    <!-- User actions -->
        <div class="sidebar-module user-info user-actions">
            <div><label>Actions</label></div>
            <ol class="list-unstyled">
                <li>
                    <a href="#!" class="editmodal" data-title="Write a post" data-purpose="share-text">
                        <i class="fas fa-pencil-alt"></i> Share
                    </a>
                </li>


                <li>
                    <a href="#!" class="addserver">
                        <i class="fas fa-server"></i> Add server
                    </a>
                </li>
                <li>
                    <a href="#!" class="syncup">
                        <i class="fas fa-sync-alt"></i> Sync
                    </a>
                </li>
                <li>
                    <a href="#!" class="eraseprofile">
                        <i class="fas fa-trash-alt"></i> Erase profile
                    </a>
                </li>


                <!-- <li>
                    <a href="#!" class="followsomeone">
                        <i class="fas fa-user-plus"></i> Follow someone
                    </a>
                </li>
                <li>
                    <a href="#!" class="blocksomeone">
                        <i class="fas fa-user-times"></i> Block someone
                    </a>
                </li> -->
            </ol>
        </div>
    <!--.end User actions -->

        <div class="user-lists">
            <div class="sidebar-module following">
                <div><label>Following</label> (<span>0</span>)</div>
                <ol class="list-unstyled users-list"></ol>
            </div>
            <div class="sidebar-module followers">
                <div><label>Followers</label> (<span>0</span>)</div>
                <ol class="list-unstyled users-list"></ol>
            </div>
            <div class="sidebar-module friends">
                <div><label>Friends</label> (<span>0</span>)</div>
                <ol class="list-unstyled users-list"></ol>
            </div>
            <div class="sidebar-module connections">
                <div><label>Connections</label> (<span>0</span>)</div>
                <ol class="list-unstyled users-list"></ol>
            </div>
            <div class="sidebar-module blocked">
                <div><label>Blocked</label> (<span>0</span>)</div>
                <ol class="list-unstyled users-list"></ol>
            </div>
        </div>

</div>
      </aside>
      <!-- /.blog-sidebar -->
    </div>
    <!-- /.row -->
  </main>
  <!-- /.container -->
  <!-- <footer class="blog-footer">
    <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    <p>
      <a href="#">Back to top</a>
    </p>
  </footer> -->
  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/static/jquery-3.2.1.min.js"></script>
  <script src="/static/popper.min.js"></script>
  <script src="/static/bootstrap.min.js"></script>
  <script src="/static/medium-editor.min.js"></script>
  <script src="/static/toastr.min.js"></script>
  <script>

var KiKiApi = function() {}

KiKiApi.prototype.fetch = function(ajaxObj){
    $.ajax(ajaxObj);
}

KiKiApi.prototype.onError = function(toast_msg, callback){
    return function(xhr, status, err) {
        if (xhr.responseJSON.error) {
            err = xhr.responseJSON.error;
        }
        toast_msg && toastr.error(err, toast_msg || 'Error');
        if (!err.stack) {
            err = new Error(err)
        }
        callback && callback(err);
    }
}

KiKiApi.prototype.onSuccess = function(toast_msg, callback){
    return function(data, status, xhr) {
        if ("ok" != data.status) {
            toast_msg && toastr.error(data.error, toast_msg || 'Error');
            callback && callback(new Error(data.error));
        }
        toast_msg && toastr.success(data.message, toast_msg);
        callback && callback(null, data);
    }
}

KiKiApi.prototype.submitLetter = function(letter, callback) {
    var self = this;
    var toast_msg = "Posting to KiKi";
    $.ajax({
        url: "/letter",
        method: "POST",
        data: JSON.stringify(letter),
        contentType: "application/json",
        error: self.onError(toast_msg, callback),
        success: self.onSuccess(toast_msg, callback)
    });
}

KiKiApi.prototype.likePost = function(post_id) {
    this.submitLetter({
        "purpose": "action-like",
        "to": ["public"],
        "content": post_id,
    });
}

KiKiApi.prototype.changeName = function(name, callback) {
    this.submitLetter({
        "purpose": "action-assign/name",
        "to": ["public"],
        "content": name
    }, callback);
}

KiKiApi.prototype.followUser = function(user_id) {
    this.submitLetter({
        "purpose": "action-follow",
        "to": ["public"],
        "content": user_id,
    });
}

KiKiApi.prototype.fetchPosts = function(callback) {
    var self = this;
    $.ajax({
        url: "/api/v1/posts",
        method: "GET",
        error: self.onError(null, callback),
        success: self.onSuccess(null, callback)
    });
}

KiKiApi.prototype.fetchPost = function(post_id, callback) {
    var self = this;
    $.ajax({
        url: "/api/v1/post/"+post_id,
        method: "GET",
        error: self.onError(null, callback),
        success: self.onSuccess(null, callback)
    });
}

KiKiApi.prototype.fetchPostComments = function(post_id, callback) {
    var self = this;
    $.ajax({
        url: "/api/v1/post/"+post_id+"/comments",
        method: "GET",
        error: self.onError(null, callback),
        success: self.onSuccess(null, callback)
    });
}

KiKiApi.prototype.fetchUser = function(user_id, callback) {
    var self = this;
    var url = "/api/v1/user"
    if (user_id) {
        url += "/"+user_id
    }
    $.ajax({
        url: url,
        method: "GET",
        error: self.onError(null, callback),
        success: self.onSuccess(null, callback)
    });
}




var KiKiClient = function(api, callback){
    this.api = api;
    this.posts = [];
    this.primary = {};
    this.$el = $("#posts");
    this.init(callback);
}

KiKiClient.prototype.collectUsersFromPost = function(post) {

    var _clbk = function(err, user){
        if (user) {
            if (user && "" != user.image) {
                $('img.profile-pic[owner_id="'+user.public_key+'"]').attr('src', '/img/'+user.image);
            }
            $('span.recipient[owner_id="'+user.public_key+'"]').text(
                user.name || user.public_key
            );
        }
    }

    app.Users.fetchUser(post.owner_id, _clbk);
    if (post.recipients) {
        for (var i=0; i<post.recipients.length; i++) {
            app.Users.fetchUser(post.recipients[i], _clbk);
        }
    }
}

KiKiClient.prototype.buildPostCommentsUi = function(post_id) {
    var self = this;
    this.api.fetchPostComments(post_id, function(err, res){
        if (err) throw err;
        // recursive build
        var post_comments = [];
        $('.post-container[post_id="'+post_id+'"] .post-comments').html('');
        $('.post-container[post_id="'+post_id+'"] .post-comments').append(
            (function(){
                var elems = [];
                for (var i=0; i<res.data.posts.length; i++) {
                    var post = res.data.posts[i];
                    if (0 != post.num_comments) {
                        post_comments.push(post.id);
                    }

                    self.collectUsersFromPost(post);

                    elems.push(
                        $("<div>", {post_id: post.id}).addClass('post-container').append(
                            $('<div>').addClass('col-12').append(
                                self.buildPostElem(post)
                            )
                        )
                    );
                }
                return elems;
            })()
        );

        // fetch posts comment comments
        for (var i=0; i<post_comments.length; i++) {
            self.buildPostCommentsUi(post_comments[i]);
        }
    });
};

KiKiClient.prototype.openModal = function(event) {
    $("#writingModal").modal();
    $("#writingModalLabel").text($(this).data('title'));
    $(".editable").focus(function() {
        $(this).select();
    });
    if ($(this).data("usecontent")) {
        $(".editable").html($("#" + $(this).data("usecontent")).html())
    } else {
        $(".editable").text("Write your post...");
    }
    if ($(this).data("makecontent")) {
        $(".editable").html($(this).data("makecontent"));
    }
    if ($(this).data("replyto")) {
        $("#letterReplyTo").val($(this).data("replyto"));
    } else {
        $("#letterReplyTo").val("");
    }
    if ($(this).data("replaces")) {
        $("#letterReplaces").val($(this).data("replaces"));
    } else {
        $("#letterReplaces").val("");
    }
    $("#letterPurpose").val($(this).data("purpose"));
}

KiKiClient.prototype.buildPostElem = function(post) {
    var self = this;
    return $("<div>").append(
        $("<div>").addClass("post-header").append(
            $("<span>").addClass("float-right").append(
                "&nbsp;",
                $("<a>", {
                    'href': "#!",
                    'title': "Reply to " + post.owner_name,
                    'data-title': "Reply to " + post.owner_name,
                    'data-replyto': post.id,
                    'data-purpose':"share-text"
                }).addClass("editmodal").append(
                    $('<i>').addClass("fas fa-reply")
                ).on('click', this.openModal),
                "&nbsp;",

                // edit button
                (function() {
                    // only display if current user owns the post
                    if (post.owner_id == app.User.public_key) {
                        return [
                                $("<a>", {
                                'href': "#!",
                                'title': "Edit post",
                                'data-title':"Edit post",
                                'data-usecontent':post.id,
                                'data-replaces':post.id,
                                'data-purpose':"share-text"

                            }).addClass("editmodal").append(
                                $("<i>").addClass("fas fa-edit")
                            ).on('click', this.openModal),
                            "&nbsp;"
                        ];
                    }
                })(),
                //.end

                // like button
                $("<a>",  {
                        'href': "#!",
                        "data-id":post.id
                    }).addClass("likebutton").append(
                        $("<i>").addClass("fas fa-heart"),
                        "x"+(post.likes||0)
                    ).on('click', function() {
                        self.api.likePost(post.id);
                    })
                //.end

            ),

            $("<img>", {
                owner_id: post.owner_id
            }).addClass("align-middle profile-pic"),

            // activatenamemodal
            $("<a>",{
                'href':"#!",
                'data-publickey': post.owner_id,
            }).addClass("activatenamemodal").append(
                 post.owner_name || post.owner_id
            ).on('click', function() {
                var self = this;
                var user_id = $(this).data('publickey');
                app.Users.fetchUser(user_id, function(err, user){
                    if (err) throw err;
                    if (user) {
                        $("#modalNameName").text(user.name || user.public_key);

                        $("#modalNamePublicKey").text("");
                        if (user.name) {
                            $("#modalNamePublicKey").text(user.public_key);
                        }

                        $("#modalNameContent").html(user.profile);

                        $("#modalNameImage").attr("src", null);
                        if (user.image && "" != user.image) {
                            $("#modalNameImage").attr("src", '/img/'+user.image);
                        }

                        $("#nameModal").modal();
                        $("#followButton").attr("data-publickey", user.public_key);
                    }
                });
            }),
            //.end

            // recipients
            " to ",
            (function(){
                var elems = [];
                for (var i=0; i<post.recipients.length; i++) {
                    elems.push(
                        $("<span>", {
                            owner_id: post.recipients[i]
                        }).addClass('recipient').append(post.recipients[i])
                    );
                }
                return elems;
            })(),
            //.end

            "<br>",
            $("<span>").addClass('text-muted post-datetime').append(
                $('<a>', {href:'/?id='+post.id}).append(
                    new Date(post.timestamp*1000)
                )
            )
        ),

        $('<div>', {id:post.id}).append(post.content),
        $('<div>').addClass('post-comments row')
    );
}


KiKiClient.prototype.buildPostUi = function(post) {
    var self = this;
    return $("<div>", {post_id: post.id}).addClass("card post-container").append(
        $("<div>").addClass("card-body").append(
            self.buildPostElem(post)
        )
    );
}

KiKiClient.prototype.buildPostsUi = function(callback) {
    for (var i=0; i<this.posts.length; i++) {
        var post = this.posts[i];
        this.$el.append(
            this.buildPostUi(post)
        );

        if (0 != post.num_comments) {
            this.buildPostCommentsUi(post.id);
        }

        this.collectUsersFromPost(post);
    }
}

KiKiClient.prototype.init = function(callback){
    var self = this;
    $('.user-info .editmodal').on('click', this.openModal);
    $("#followButton").click(function() {
        self.api.followUser($(this).data("publickey"));
    });
    this.api.fetchPosts(function(err,res){
        if (err) {
            throw err;
        }
        self.posts = res.data.posts;
        self.buildPostsUi();
    });
    callback && callback();
}




var UserClient = function(api) {
    this.data = {};
    this.api = api;
    this.init();
}

UserClient.prototype.init = function() {
    var self = this;
    this.api.fetchUser(null, function(err,res){
        if (err) throw err;
        self.data = res.data.user;
        self.buildUserUi();
    });
    this.addListeners();
}

UserClient.prototype.addListeners = function() {
    var self = this;
    $('.user-action.change-name').on('click', function(){
        swal({
            title: 'Username',
            text: 'Would you like to change your username?',
            type: 'warning',
            input: 'text',
            showCancelButton: true,
            confirmButtonText: 'Yes',
            cancelButtonText: 'No'
        }).then(function(result) {
            if (result.value) {
                self.api.changeName(result.value, function(err, res) {
                    if (err) {
                        swal('Error!', 'An error occurred: ' + err.message, 'error');
                        return;
                    };
                    swal('Success!', 'Your username has been changed.', 'success');
                });
            }
        });
    });

    $('.user-action.edit-profile').on('click', app.Posts.openModal);

    $(".syncup").on("click", function(){
        // event.preventDefault();
        var posting = $.post( "/sync",JSON.stringify({ "address": "" })  );
        posting.done(function( data ) {
            toastr.success(data.message, "Updating Kiki");
        });
    });


    $(".addserver").on("click", function(){
        //   event.preventDefault();
        swal({
            title: 'Server connection',
            text: 'Enter a server to connect to:',
            type: 'warning',
            input: 'url',
            inputPlaceholder: 'https://kiki.network',
            showCancelButton: true,
            confirmButtonText: 'Yes',
            cancelButtonText: 'No'
        }).then(function(result) {
            if (result.value) {
                var posting = $.post( "/sync", JSON.stringify({ "address": result.value }) );
                posting.done(function( data ) {
                    toastr.success(data.message, "Updating Kiki");
                });
            }
        });
    });



}

UserClient.prototype.buildUserListItem = function(user) {
    return $('<li>').append(
            $('<a>', {
                'href': "#!",
                'data-name': user.name,
                'data-publickey': user.public_key,
                'data-content': user.profile
            }).addClass('activatenamemodal publickey').append(
                $('<div>').addClass('publickey').append(
                    $("<img>",{
                        src: (function(){
                            if (user.image && "" != user.image) {
                                return "/img/" + user.image;
                            }
                            return null;
                        })()
                    }).addClass('align-middle profile-pic'),
                    $('<small>').append(user.name || user.public_key)
                )
            )
    );
}

UserClient.prototype.buildUserUi = function(){
    var self = this;
    if (this.data) {
        $("#user-name").text( this.data.name || this.data.public_key );
        $("#user-profile").html("");
        $("#user-profile").append( this.data.profile );
        if (this.data.image && "" != this.data.image) {
            $("#user-profile-image").attr("src", "/img/"+ this.data.image);
        }

        $(".following span").text(this.data.following.length);
        $(".followers span").text(this.data.followers.length);
        $(".friends span").text(this.data.friends.length);
        $(".blocked span").text(this.data.blocked.length);


        for (var i=0; i<this.data.following.length; i++) {
            var user_id = this.data.following[i];
            app.Users.fetchUser(user_id, function(err, user){
                if (err) throw err;
                $(".following ol").append(
                    self.buildUserListItem(user)
                )
            });
        }

        for (var i=0; i<this.data.followers.length; i++) {
            var user_id = this.data.followers[i];
            app.Users.fetchUser(user_id, function(err, user){
                if (err) throw err;
                $(".followers ol").append(
                    self.buildUserListItem(user)
                )
            });
        }

        for (var i=0; i<this.data.friends.length; i++) {
            var user_id = this.data.friends[i];
            app.Users.fetchUser(user_id, function(err, user){
                if (err) throw err;
                $(".friends ol").append(
                    self.buildUserListItem(user)
                )
            });
        }

        for (var i=0; i<this.data.blocked.length; i++) {
            var user_id = this.data.blocked[i];
            app.Users.fetchUser(user_id, function(err, user){
                if (err) throw err;
                $(".blocked ol").append(
                    self.buildUserListItem(user)
                )
            });
        }

        // $(".connections span").text(this.data.connections.length);

    }
}




var UsersCollection = function(api) {
    this.api = api;
    this.data = {};
    this.callbacks = {};
}

UsersCollection.prototype.fetchUser = function(user_id, callback) {
    var self = this;
    if (this.data[user_id]) {
        return callback(null, this.data[user_id]);
    }
    if (!this.callbacks[user_id]) {
        this.callbacks[user_id] = [];
    }
    this.callbacks[user_id].push(callback);
    // only fire one request
    if (1 < this.callbacks[user_id].length){
        return
    };
    // fetch from api
    this.api.fetchUser(user_id, function(err, res){
        if (err) {
            self.runCallbacks(err, user_id);
            return;
        }
        self.data[user_id] = res.data.user;
        self.runCallbacks(null, user_id);
    });

}

UsersCollection.prototype.runCallbacks = function(err, user_id) {
    while (this.callbacks[user_id].length) {
        var callback = this.callbacks[user_id].shift();
        callback && callback(err, this.data[user_id]);
    }
}


var app = {}
app.Api = new KiKiApi();
app.Users = new UsersCollection(app.Api);
app.Posts = new KiKiClient(app.Api);
app.User = new UserClient(app.Api);


var updateInterval = setInterval(function(){
    console.log("update page");
},10000);








    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-bottom-center",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }
    var editor = new MediumEditor('.editable', {
      toolbar: {
        relativeContainer: document.querySelector("#writingModalBody"),
        allowMultiParagraphSelection: true,
        buttons: ['bold', 'italic', 'underline', 'anchor', 'h2', 'h3', 'quote'],
        diffLeft: 0,
        diffTop: -10,
        firstButtonClass: 'medium-editor-button-first',
        lastButtonClass: 'medium-editor-button-last',
        standardizeSelectionStart: false,
        static: true,
        autoLink: true,
        /* options which only apply when static is true */
        align: 'center',
        sticky: false,
        updateOnEmptySelection: false
      }
    });
    $(document).ready(function() {
    //   $("img").addClass("img-fluid");
      $("#submit-writing").click(function(event) {
        // Stop form from submitting normally
        event.preventDefault();
        letter = {
          "purpose": $("#letterPurpose").val(),
          "replaces": $("#letterReplaces").val(),
          "reply_to": $("#letterReplyTo").val(),
          "to": ["self"],
          "content": editor.getContent(),
        }
        if ($("#writingToPublic").is(":checked") == true) {
          letter["to"] = ["public"];
        }
        if ($("#writingToFriends").is(":checked") == true) {
          letter["to"] = ["friends"];
        }
        console.log(letter);
        app.Api.submitLetter(letter);
      });


      // SCROLL TO TOP
        $('body').append(
            $('<div>', {id: 'toTop'})
                .css({
                    'position': 'fixed',
                    'bottom': '20px',
                    'right': '40px',
                    'cursor': 'pointer',
                    'display': 'none',
                    'z-index': 1000
                })
                .addClass('btn btn-info')
                .append(
                    $('<i>').addClass('fa fa-chevron-up')
                ).on('click', function(){
                    $("html, body").animate({ scrollTop: 0 }, 600);
                })
        );
        $(window).scroll(function () {
            if ($(this).scrollTop() != 0) {
                $('#toTop').fadeIn();
            } else {
                $('#toTop').fadeOut();
            }
        });



    });
  </script>
</body>

</html>
