<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">
  <title>Kiki</title>
  <!-- Bootstrap core CSS -->
  <link href="/static/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/static/blog.css" rel="stylesheet">
  <script defer src="/static/all.js"></script>
  <link href="/static/toastr.css" rel="stylesheet" />
  <link rel="stylesheet" href="/static/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
  <link href="/static/bootstrap.medium.css" rel="stylesheet" />

<link rel="apple-touch-icon" sizes="57x57" href="/static/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/static/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/static/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/static/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/static/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/static/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/static/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
<link rel="manifest" href="/static/manifest.json">
<meta name="msapplication-TileColor" content="#e2b1c7">
<meta name="msapplication-TileImage" content="/static/ms-icon-144x144.png">
<meta name="theme-color" content="#e2b1c7">


</head>

<body style="background-color:#fffcfd;">

<header>


    <nav class="navbar navbar-expand-md"  style="background-color:#e2b1c7;">
      <div class="container">
        <a href="/home" class="pull-left"><img src="/static/kiki.png" class="kiki-pic"></a>
        <a class="navbar-brand" style="color:black;" href="/home"><em>&nbsp;&nbsp;<strong>kiki.network</strong></em></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link menu-item" href="/home">home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link menu-item" href="/">public</a>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle menu-item" href="http://example.com" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">help</a>
              <div class="dropdown-menu menu-item" aria-labelledby="dropdown07">
                <a class="dropdown-item menu-item" href="/?hashtag=kikihelp&public=1">ask a question</a>
                <a class="dropdown-item menu-item" href="https://github.com/schollz/kiki">get source code</a>
                <a class="dropdown-item menu-item" href="https://github.com/schollz/kiki/issues/new">report a bug</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link menu-item" href="/exit" id="exitKiki">exit</a>
            </li>
          </ul>
          <div class="form-inline my-2 my-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" id="searchText">
          </div>
        </div>
      </div>
    </nav>

</header>


  <main role="main" class="container" id="main-content">
    <input type=hidden id="letterPurpose" value="" />
    <input type=hidden id="letterReplyTo" value="" />
    <input type=hidden id="letterFirstID" value="" />
    <input type=hidden id="letterTo" value="" />
    <pre class="markdown" id="markdownInput" type="hidden" style="display:none;"></pre>
    <!-- begin medium modal -->
    <!-- Modal -->
    <div class="modal fade" id="writingModal" role="dialog" aria-labelledby="writingModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg  modal-dialog-centered" role="document">
        <div class="modal-content" id="writingModalBody">
          <div class="modal-header">
            <h5 class="modal-title" id="writingModalLabel"></h5>
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button> -->
          </div>
          <div class="modal-body">
            <div class="editable">
              <p>My father’s family name being
                <a href="https://en.wikipedia.org/wiki/Pip_(Great_Expectations)">Pirrip</a>, and my Christian name Philip, my infant tongue could make of both names nothing longer or more explicit than Pip. So, I called myself Pip, and came to be called
                Pip.
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-info" id="writingToSelfLabel">
                                        <input type="radio" name="options" id="writingToSelf" autocomplete="off">Self
                                    </label>
              <label class="btn btn-info" id="writingToFriendsLabel">
                                        <input type="radio" name="options" id="writingToFriends" autocomplete="off"> Friends
                                    </label>
              <label class="btn btn-info active" id="writingToPublicLabel">
                                        <input type="radio" name="options" id="writingToPublic" autocomplete="off" checked> Public
                                    </label>
            </div>
            <button type="button" class="btn btn-primary" id="submit-writing">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <!-- end medium modal -->
    <!-- Modal -->
    <div class="modal fade" id="nameModal" role="dialog" aria-labelledby="nameModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="nameModalLabel"><img id="modalNameImage" style="max-width:54px;" src="" class="align-middle profile-pic">&nbsp;
                                <span id="modalNameName">Mark</span> <br><small>Pubkey: <code class="text-muted publickey" id="modalNamePublicKey">aasdlkfjas9jf93jfa</code></small>

                              <small>Friend / Following / Followers = <span id="modalFriendsCount">0</span> / <span id="modalFollowingCount">0</span> / <span id="modalFollowersCount">0</span>
                              </small>

                              </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
          </div>
          <div class="modal-body">
            <span id="modalNameContent">
                                    I enjoy skiing and driving around!
                                </span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info editmodal" id="messageButton">Message</button>
            <a href="#!" id="filterButton"><button type="button" class="btn btn-info">Filter</button></a>
            <button type="button" class="btn btn-primary" id="followButton">Follow</button>
            <button type="button" class="btn btn-danger" id="blockButton">Block</button>
            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9 blog-main">
        {{ range .Posts }}
        <!--begin blog post -->
        <div class="card">
          <div class="card-header bg-transparent">
            <div class="container">
              <div class="row">
                <div class="col-1" style="padding-left: 0.1rem; padding-right: 0.1rem;">
                  <img src="/img/{{ .Post.User.Image }}" class="align-middle img-fluid profile-pic">
                </div>
                <div class="col-11">
                  <code>
                    <a href="#!" class="activatenamemodal" data-name="{{ .Post.User.Name }}" data-image="/img/{{ .Post.User.Image }}" data-publickey="{{ .Post.User.PublicKey }}" data-followers="{{ len .Post.User.Followers }}" data-following="{{ len .Post.User.Following }}" data-friends="{{ len .Post.User.Friends }}" {{ .Post.User.ProfileContent }} data-image="/img/{{ .Post.User.Image }}">{{ if .Post.User.Name }}{{ .Post.User.Name }}{{ else }}<small>{{ .Post.User.PublicKey }}</small>{{ end }}</a>
                  <small>
                    <br>
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
[ {{ .Post.Recipients }} ]
                  </small>
                  </code>
                </div>
              </div>
            </div>
            <small><em>  
              <a href="/?id={{.Post.ID}}" class="text-muted">{{ .Post.Date.Format "January 2, 2006 3:04:05PM" }}</a>
            </em></small>
                <span class="float-right">
                  &nbsp;
                  <a href="#!" class="editmodal" data-title="Reply to {{ .Post.User.Name }}" data-replyto="{{ .Post.FirstID }}" data-purpose="share-text"><i class="fas fa-reply"></i></a>
                  &nbsp;
                  <a href="#!" data-usecontent="{{.Post.ID}}" data-title="Edit post" class="editmodal" data-firstid="{{.Post.FirstID}}" data-purpose="share-text"><i class="fas fa-edit"></i></a>
                 &nbsp;
                <a href="#!" data-id="{{.Post.ID}}" class="likebutton"><i class="fas fa-heart"></i> {{ if gt .Post.Likes 1 }}x{{ .Post.Likes }}{{ end }}</a>
              </span>
          </div>
          <div class="card-body">
            <div class="blog-post">
              <p class="blog-post-meta">

              <div id="{{ .Post.ID }}">
                {{ .Post.Content }}
              </div>
              {{ if .Comments }}
              <hr> {{end}} {{ range .Comments }}
              <!-- simple comments -->
              <div data-children=".item" style="font-size:80%;">
                <!-- a single simple comment begins -->
                <div class="row">
                  <div class="col-{{.Depth}}"></div>
                  <div class="col-{{ minus 12 .Depth}}">
                    <div class="item">
                      <div class="row">
                        <div class="col-12">
              <div class="container">
                <div class="row">
                  <div class="col-1" style="padding-left: 0.1rem; padding-right: 0.1rem;">
                    <img src="/img/{{ .User.Image }}" class="align-middle profile-pic img-fluid">
                  </div>
                  <div class="col-11">
                    <code>
                      <a href="#!" class="activatenamemodal" data-name="{{ .User.Name }}" data-image="/img/{{ .User.Image }}" data-publickey="{{ .User.PublicKey }}" data-followers="{{ len .User.Followers }}" data-following="{{ len .User.Following }}" data-friends="{{ len .User.Friends }}" {{ .User.ProfileContent }} data-image="/img/{{ .User.Image }}">{{ if .User.Name }}{{ .User.Name }}{{ else }}{{ .User.PublicKey }}{{ end }}</a>
                    <small>
                      <br>
                      <i class="fa fa-caret-right" aria-hidden="true"></i>
[ {{ .Recipients }} ]
                    </small>
                    </code>
                  </div>
                </div>
              </div>
              <small><em>  
              <a href="/?id={{.ID}}" class="text-muted">{{ .Date.Format "January 2, 2006 3:04:05PM" }}</a>
              </em></small>

                          <span class="float-right"><a href="#!" class="editmodal" data-title="Reply to {{ .User.Name }}" data-replyto="{{ .FirstID }}" data-purpose="share-text"><i class="fas fa-reply"></i></a>&nbsp;

                                <a href="#!" data-usecontent="{{.ID}}" data-title="Edit post" class="editmodal" data-firstid="{{.FirstID}}" data-replyto="{{.ReplyTo}}" data-purpose="share-text"><i class="fas fa-edit"></i></a>&nbsp;
                              <a href="#!" data-id="{{.ID}}" class="likebutton"><i class="fas fa-heart"></i> {{ if gt .Likes 1 }}x{{ .Likes }}{{ end }}</a>
                            </span> 

                        </div>
                      </div>
                      <div role="tabpanel">
                        <p class="mb-3">
                          <div id="{{ .ID }}">
                            {{ .Content }}
                          </div>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- a single simple comment ends -->
              </div>
              <!-- end simple comments -->
              {{ end }}
            </div>
          </div>
        </div>
        <!-- /.blog-post -->
        {{ end }}
        <!-- end blog post -->


        <!-- /.blog-post -->
        <nav class="blog-pagination">
          <a class="btn btn-outline-primary" href="#">Older</a>
          <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
        </nav>
      </div>
      <!-- /.blog-main -->
      <aside class="col-sm-3 ml-sm-auto blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
          <img src="/img/{{ .User.Image }}" class="img-fluid profile-pic" style="padding-bottom: 1rem;">
          <h5><div id="current-name">{{ .User.Name }}</div></h5>
          <div id="current-profile">
            {{ .User.Profile }}
          </div>
          <div class="publickey">
          <small>Pubkey: <code>{{ .User.PublicKey }}</code></small>
          </div>
          <center>
            <a href='#!' class="editmodal" data-title="Change name" data-purpose="action-assign/name" data-usecontent="current-name" title="Change name"><i class="fas fa-comment-alt"></i></a>
            &nbsp;
            <a href="#!" class="editmodal" data-title="Edit profile" data-purpose="action-assign/profile" data-usecontent="current-profile" title="Edit profile"><i class="fas fa-child"></i></a>
            &nbsp;
            <a href="#" class="editmodal" data-title="Update image" data-purpose="action-assign/image" data-makecontent="Drag and drop an image..." title="Change profile image"><i class="fas fa-upload"></i></a>

         </center>

        </div>
        <div class="sidebar-module">
          <h5>Actions</h5>
          <ol class="list-unstyled">
            <li><a href="#!" class="editmodal" data-title="Write a post" data-purpose="share-text"><i class="fas fa-pencil-alt"></i>&nbsp; Share</a></li>
            <li><a href="#!" class="addserver"><i class="fas fa-plus-circle"></i>&nbsp;
            Add server</a></li>
            <li><a href="#!" class="syncup"><i class="fas fa-sync-alt"></i>&nbsp;
            Sync</a></li>
            <!-- <li><a href="#!" class="followsomeone"><i class="fas fa-user-plus"></i>&nbsp;
            Follow someone</a></li>
            <li><a href="#!" class="blocksomeone"><i class="fas fa-user-times"></i>&nbsp;
            Block someone</a></li>
            <li><a href="#!" class="eraseprofile"><i class="fas fa-trash-alt"></i>&nbsp;
            Erase profile</a></li> -->
          </ol>
        </div>
        <div class="sidebar-module">
          <h5>Following  ({{ len .Friends.Following }})</h5>
          <ol class="list-unstyled">
            {{ range .Friends.Following }}
            <li><a href="#!" class="activatenamemodal publickey" data-name="{{ .Name }}" data-image="/img/{{ .Image }}" data-publickey="{{ .PublicKey }}" {{ .ProfileContent }} data-image="/img/{{ .Image }}"><div class="publickey"><img src="/img/{{ .Image }}" class="align-middle profile-pic thumbnail-pic">{{ .Name }} <small>{{ .PublicKey }}</small></div></a></li>
            {{ end }}
          </ol>
        </div>
        <div class="sidebar-module">
          <h5>Followers  ({{ len .Friends.Followers }})</h5>
          <ol class="list-unstyled">
            {{ range .Friends.Followers }}
            <li><a href="#!" class="activatenamemodal publickey" data-name="{{ .Name }}" data-image="/img/{{ .Image }}" data-publickey="{{ .PublicKey }}" {{ .ProfileContent }} data-image="/img/{{ .Image }}"><div class="publickey"><img src="/img/{{ .Image }}" class="align-middle profile-pic thumbnail-pic">{{ .Name }} <small>{{ .PublicKey }}</small></div></a></li>
            {{ end }}
          </ol>
        </div>
        <div class="sidebar-module">
          <h5>Friends ({{ len .Friends.Friends }})</h5>
          <ol class="list-unstyled">
            {{ range .Friends.Friends }}
            <li><a href="#!" class="activatenamemodal publickey" data-name="{{ .Name }}" data-image="/img/{{ .Image }}" data-publickey="{{ .PublicKey }}" {{ .ProfileContent }} data-image="/img/{{ .Image }}"><div class="publickey"><img src="/img/{{ .Image }}" class="align-middle profile-pic thumbnail-pic">
              {{ .Name }} <small>{{ .PublicKey }}</small></div></a></li>
            {{ end }}
          </ol>
        </div>
        <div class="sidebar-module">
          <h5>Connections ({{ len .Connected }})</h5>
          <ol class="list-unstyled">
            {{ range .Connected }}
            <li><a href="#!" class="activatenamemodal" data-name="{{ .Name }}" data-image="/img/{{ .Image }}" data-followers="{{ len .Followers }}" data-following="{{ len .Following }}" data-friends="{{ len .Friends }}"  data-publickey="{{ .PublicKey }}" {{ .ProfileContent }} data-image="/img/{{ .Image }}">{{ .Server }}</a></li>
            {{ end }}
          </ol>
        </div>
        <div class="sidebar-module">
          <h5>Blocked ({{ len .User.Blocked }})</h5>
          <ol class="list-unstyled">
            {{ range .User.Blocked }}
            <li><div class="publickey"><small>{{ . }}</small></div></li>
            {{ end }}
          </ol>
        </div>
        <div class="sidebar-module">
          <h5>Hashtags</h5>
          <ol class="list-unstyled">
            {{ range .Hashtags }}
            <li><a href="/?hashtag={{.}}"><small>{{ . }}</small></a></li>
            {{ end }}
          </ol>
        </div>


      </aside>
      <!-- /.blog-sidebar -->
    </div>
    <!-- /.row -->
  </main>
  <!-- /.container -->
  <footer class="blog-footer">
    <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    <p>
      <a href="#">Back to top</a>
    </p>
  </footer>
  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/static/jquery-3.2.1.min.js"></script>
  <script src="/static/popper.min.js"></script>
  <script src="/static/bootstrap.min.js"></script>
  <script src="/static/medium-editor.min.js"></script>
  <script src="/static/me-markdown.standalone.js"></script>
  <script src="/static/toastr.min.js"></script>
  <script>
    function submitLetter(letter, callback) {

      function onError(data) {
        toastr["error"](data.error, "Posting to KiKi")
      }

      $.ajax({
        url: "/letter",
        method: "POST",
        data: JSON.stringify(letter),
        contentType: "application/json",
        error: function(xhr, status, err) {
          try {
            var err_json = xhr.responseJSON.error;
            toastr["error"](err_json, "Posting to KiKi");
            callback && callback(new Error(err_json));
          } catch (error) {
            toastr["error"](err, "Posting to KiKi");
            callback && callback(err);
          }
        },
        success: function(data, status, xhr) {
          if ("ok" != data.status) {
            // hhtp headers
            callback && callback(new Error(data.error));
            return onError(data);
          }
          toastr["success"](data['message'], "Posting to KiKi");
          callback && callback(null, data);
        }
      });

    }


    var KiKiApi = function() {}

    KiKiApi.prototype.fetch = function(ajaxObj, callback) {
      $.ajax(ajaxObj);
    }

    KiKiApi.prototype.onError = function() {}

    KiKiApi.prototype.onSuccess = function() {}

    KiKiApi.prototype.submitLetter = function(letter, callback) {

    }

    var app = {
      Api: new KiKiApi()
    }




    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-bottom-center",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }
    var markDownEl = document.querySelector(".markdown");
    var editor = new MediumEditor('.editable', {
      extensions: {
                markdown: new MeMarkdown(function (md) {
                    markDownEl.textContent = md;
                })
              },
      toolbar: {
        relativeContainer: document.querySelector("#writingModalBody"),
        allowMultiParagraphSelection: true,
        buttons: ['bold', 'italic', 'underline', 'anchor', 'h2', 'h3', 'quote'],
        diffLeft: 0,
        diffTop: -10,
        firstButtonClass: 'medium-editor-button-first',
        lastButtonClass: 'medium-editor-button-last',
        standardizeSelectionStart: false,
        static: true,
        autoLink: true,
        /* options which only apply when static is true */
        align: 'center',
        sticky: false,
        updateOnEmptySelection: false,
        placeholder: {
          /* This example includes the default options for placeholder,
             if nothing is passed this is what it used */
          text: 'Type your text',
          hideOnClick: true
        }
      }
    });
    $(document).ready(function() {
      // editor.subscribe("editableKeydownEnter", function (event, element) {
      //     if (event.keyCode == 13) {
      //         event.preventDefault()
      //         var node = MediumEditor.selection.getSelectionStart(editor.options.ownerDocument)
      //         MediumEditor.util.insertHTMLCommand(editor.options.ownerDocument, "<br>")
      //     }
      // })
      $('[data-toggle="tooltip"]').tooltip({delay: { "show": 500, "hide": 100 }})
      $("img").addClass("img-fluid");
      $("#exitKiki").click(function(event) {
        event.preventDefault();
        $.get( "/exit" )
        .done(function( response ) {
          if (response.status == 'ok') {
            // TODO
          }
        });
      })
      $("#submit-writing").click(function(event) {
        // Stop form from submitting normally
        event.preventDefault();
        letter = {
          "purpose": $("#letterPurpose").val(),
          "first_id": $("#letterFirstID").val(),
          "reply_to": $("#letterReplyTo").val(),
          "to": ["self"],
          "content": $("#markdownInput")[0].innerText,
        }
        if ($("#writingToPublic").is(":checked") == true) {
          letter["to"] = ["public"];
        }
        if ($("#writingToFriends").is(":checked") == true) {
          letter["to"] = ["friends"];
        }
        if ($("#letterTo").val() != "") {
          letter["to"] = [$("#letterTo").val()];
        }
        console.log(letter);
        submitLetter(letter);
        $("#writingModal").modal('hide');
      });
      $(".addserver").click(function(event){
        event.preventDefault();
        var server = prompt("Enter a server to connect to", "https://kiki.network");
        if (server != null) {
          // Send the data using post
         var posting = $.post( "/sync", JSON.stringify({ "address": server }) );
         // Put the results in a div
         posting.done(function( data ) {
           console.log(data);
           toastr["success"](data['message'], "Updating Kiki");
         });
        }
      })
      $(".syncup").click(function(event){
        event.preventDefault();
        var posting = $.post( "/sync",JSON.stringify({ "address": "" })  );
        posting.done(function( data ) {
          toastr["success"](data['message'], "Updating Kiki");
        });
      })
      $(".editmodal").click(function(event) {
        event.preventDefault();
        $("#nameModal").modal('hide');
        $("#writingModal").modal();
        console.log($(this).data('title'));
        $("#writingModalLabel").text($(this).data('title'));
        $(".editable").focus(function() {
          $(this).select();
        });
        console.log($(this).data("usecontent"));
        if ($(this).data("usecontent")) {
          editor.setContent($("#" + $(this).data("usecontent")).html());
          // $(".editable").html($("#" + $(this).data("usecontent")).html())
        } else {
          editor.setContent("");
          // $(".editable").text("Write your post");
        }
        if ($(this).data("makecontent")) {
          editor.setContent($(this).data("makecontent"));
          // $(".editable").html($(this).data("makecontent"));
        }
        if ($(this).data("replyto")) {
          $("#letterReplyTo").val($(this).data("replyto"));
        } else {
          $("#letterReplyTo").val("");
        }
        if ($(this).data("firstid")) {
          $("#letterFirstID").val($(this).data("firstid"));
        } else {
          $("#letterFirstID").val("");
        }
        if ($(this).data("letterto")) {
          $("#letterTo").val($(this).data("letterto"));
          $("#writingToSelfLabel").hide();
          $("#writingToFriendsLabel").hide();
          $("#writingToPublicLabel").hide();
        } else {
          $("#letterTo").val("");
          $("#writingToSelfLabel").show();
          $("#writingToFriendsLabel").show();
          $("#writingToPublicLabel").show();
        }
        $("#letterPurpose").val($(this).data("purpose"));
      });
      $(".activatenamemodal").click(function(event) {
        event.preventDefault();
        console.log($(this).data("name"));
        $("#modalNameName").text($(this).data("name"));
        $("#modalNamePublicKey").text($(this).data("publickey"));
        $("#modalNameContent").html($(this).data("content"));
        $("#modalNameImage").attr("src", $(this).data("image"));
        $("#modalFriendsCount").text($(this).data("friends"));
        $("#modalFollowersCount").text($(this).data("followers"));
        $("#modalFollowingCount").text($(this).data("following"));
        $("#nameModal").modal();
        $("#followButton").attr("data-publickey", $(this).data("publickey"));
        $("#blockButton").attr("data-publickey", $(this).data("publickey"));
        $("#filterButton").attr("href", "/?user=" + $(this).data("publickey"));
        $("#messageButton").attr("data-publickey", $(this).data("publickey"));
        $("#messageButton").attr("data-name", $(this).data("name"));
        $("#messageButton").attr("data-letterto", $(this).data("publickey"));
        $("#messageButton").attr("data-title", "Message to " + $(this).data("name"));
        $("#messageButton").attr("data-purpose", "share-text");
      });
      $("#followButton").click(function(event) {
        event.preventDefault();
        console.log($(this).data("publickey"));
        letter = {
          "purpose": "action-follow",
          "to": ["public"],
          "content": $(this).data("publickey"),
        };
        submitLetter(letter);
        $("#nameModal").modal('hide');
      });
      $("#blockButton").click(function(event) {
        event.preventDefault();
        console.log($(this).data("publickey"));
        letter = {
          "purpose": "action-block",
          "to": ["public"],
          "content": $(this).data("publickey"),
        };
        submitLetter(letter);
        $("#nameModal").modal('hide');
      });
      $(".likebutton").click(function(event) {
        event.preventDefault();
        console.log($(this).data("id"));
        letter = {
          "purpose": "action-like",
          "to": ["public"],
          "content": $(this).data("id"),
        };
        submitLetter(letter);
      });
      $('#searchText').keypress(function (e) {
        if (e.which == 13) {
          console.log($("#searchText").val())
          location.href = "/?search="+encodeURIComponent($("#searchText").val());
        }
      });
      var restrictInput = function(event) {
        $("img:not(.img-fluid)").addClass("img-fluid");
      }
      editor.on(document.querySelector(".editable"), 'keypress', restrictInput);
      $('#main-content').fadeIn();
    });
  </script>
</body>

</html>
